        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_homepage') }}">louons.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fa-solid fa-chart-line"></i>
                                Dashboard
                                {# <span class="visually-hidden">(current)</span> #}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_ads_index') }}">
                                <i class="fa-solid fa-bed"></i>
                                Annonces
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_bookings_index') }}">
                                <i class="fa-solid fa-folder"></i>
                                Réservations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_comments_index') }}">
                                <i class="fa-solid fa-comments"></i>
                                Commentaires
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_users_index') }}">
                                <i class="fa-solid fa-users"></i>
                                Utilisateurs
                            </a>
                        </li>
                        {#
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li> #}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('app_homepage') }}" target="_blank" class="nav-link">
                                <i class="fa-regular fa-eye"></i>
                                Voir le site
                            </a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ app.user.picture }}" alt="avatar de {{ app.user.fullName }}" class="avatar avatar-mini"> {{ app.user.fullName }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{{ path('app_admin_account_logout') }}" class="dropdown-item">Me déconnecter</a>
                                </div>
                            </li>
                        {% endif %}
                        {# <li class="nav-item" ml-auto>
                            <a href="#" class="nav-link">Mon compte</a>
                        </li> #}
                    </ul>
                    {# <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> #}
                </div>
            </div>
        </nav>

        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}