{% extends 'base.html.twig' %}


{% block title %}locations saisonnières: location de biens immobiliers{% endblock %}


{% block body %}
    <div class="container mt-5">

        <div class="bg-light p-5 rounded-3 mt-3 d-flex flex-column justify-content-between">
            <div>
                <h1 class="display-3 fw-bold">
                    locations saisonnières: Annonces de locations courte durée
                </h1>
                <p class="lead">
                    Nous mettons en relation les propriétaires souhaitant louer leurs biens immobiliers en courte durée et les locataires.
                </p>
                <hr class="my-4">
                <p>
                    Vous souhaitez louer un gîte, une maison, un appartement, ... en courte durée? Consultez nos annonces pour trouver votre bonheur.
                </p>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-primary btn-lg" href="{{ path('app_ads_index') }}" role="button">Voir nos annonces</a>
            </div>
        </div>

        <h2 class="h1 my-5">Nos logements stars</h2>

        <div class="row">
            {% for data in ads %}
                {% include 'ad/_adCard.html.twig' with {'ad': data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2>

        <div class="row">
            {% for data in users %}
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.user.fullName }}</h4>
                        <hr>
                        <div class="card-text">
                            <img src="{{ data.user.picture }}" alt="{{ data.user.fullName }}" class="float-start me-3">
                            <p>{{ data.user.introduction }}</p>
                            <a href="{{ path('app_user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-end">En savoir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
