{% extends 'base.html.twig' %}


{% block title %}{{ ad.title }}{% endblock %}


{% block body %}

    <div class="ad-title" style="background-image: url({{ad.coverPicture}})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }} &euro;</strong> par nuit
            </p>
            <a href="{{ path('app_booking_create', {'slug': ad.slug}) }}" class="btn btn-primary">Réserver</a>

            {% if app.user and app.user == ad.manager %}
                <a href="{{ path('app_ad_update', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>

                <a href="{{ path('app_ad_delete', {'slug': ad.slug}) }}" class="btn btn-danger" onclick="return confirm(`Etes-vous sûr(e) de vouloir supprimer l'annonce {{ad.title}}?`)">Supprimer l'annonce</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }}

                <div id="carouselCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                    {% for picture in ad.pictures %}
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="{{ loop.index0 }}" class="{{ loop.first ? 'active' : '' }}" aria-current="{{ loop.first ? 'true' : 'false' }}" aria-label="Slide {{ loop.index }}"></button>
                    {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for picture in ad.pictures %}
                            <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                                <img src="{{ picture.url }}" class="d-block w-100" alt="{{ picture.caption }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ picture.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>

            </div>
            <div class="col">
            {% set am = ad.manager %}
                <div class="row mb-3 align-items-center">
                    <div class="col-3">
                        <a href="{{ path('app_user_show', {'slug': am.slug}) }}">
                            <img src="{{ am.picture }}" class="avatar avatar-medium" alt="Avatar de {{ am.fullName }}">
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ path('app_user_show', {'slug': am.slug}) }}">
                            <h3>{{ am.fullName }}</h3>
                        </a>
                        <span class="badge bg-primary">{{ am.ads | length }} annonces</span>
                    </div>
                </div>
                {{ am.description | raw }}
            </div>
        </div>
    </div>

{% endblock %}
